{% extends 'layout.html.twig' %}

{% block content %}

    <h3>{{ tournament.name }}</h3>

    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="{{ path('tournament.news', {id: tournament.id }) }}">{{ 'newsline'|trans }}</a></li>
        <li role="presentation"><a href="{{ path('tournament.table', {id: tournament.id }) }}">{{ 'table'|trans }}</a></li>
        <li role="presentation"><a href="{{ path('tournament.calendar', {id: tournament.id }) }}">{{ 'calendar'|trans }}</a></li>
        <li role="presentation"><a href="{{ path('tournament.stat', {id: tournament.id }) }}">{{ 'stat'|trans }}</a></li>
    </ul>

{% endblock %}
