{% extends 'layout.html.twig' %}

{% block content %}

    <h3>{{ manager.name }}</h3>
    <h5><b>{{ 'common.birth'|trans }}</b> : {{ manager.birth|date("d.m.Y") }} | {{ 'common.age'|transchoice(manager.age(today)) }}</h5>
    <h5><b>{{ 'citizenship'|trans }}</b> : {{ manager.country.name }}</h5>
    <h5><b>{{ 'common.position'|trans }}</b> : {{ 'common.manager'|trans }}</h5>

    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="{{ path('manager.news', {id: manager.id }) }}">{{ 'common.newsline'|trans }}</a></li>
    </ul>

{% endblock %}
