{% extends 'base.html.twig' %}

{% block body %}
    <h1>Футбольные соревнования</h1>

    <table class="table table-condensed">
        <thead>
        <tr>
            <th>{{ 'championship.name'|trans }}</th>
            <td></td>
        </tr>
        </thead>
        {% for championship in championships %}
            <tr>
                <td>{{ championship.country }}</td>
                <td>
                    <a class="btn btn-success btn-xs"
                       href="{{ path('championship.edit', {'id': championship.id  }) }}" role="button">{{ 'common.edit'|trans }}</a>&nbsp;<a
                            class="btn btn-danger btn-xs" href="{{ path('championship.delete',{'id': championship.id}) }}"
                            role="button">{{ 'common.delete'|trans }}</a>
                </td>
            </tr>
        {% endfor %}
    </table>

    <a class="btn btn-default" href="{{ path('championship.add') }}" role="button">{{ 'common.add'|trans }}</a>
{% endblock %}

