{% extends 'layout.html.twig' %}

{% block content %}

    <h3>{{ team.name }}</h3>
    <h5><b>{{ 'common.country'|trans }}</b> : {{ team.country.name }}</h5>
    <h5><b>{{ 'common.coach'|trans }}</b> : <a href="{{ path('coach.news', {id: team.coach.id}) }}">{{ team.coach.name }}</a></h5>

    <ul class="nav nav-tabs">
        <li role="presentation"><a href="{{ path('team.news', {id: team.id }) }}">{{ 'common.newsline'|trans }}</a></li>
        <li role="presentation"><a href="{{ path('team.calendar', {id: team.id }) }}">{{ 'common.calendar'|trans }}</a></li>
        <li role="presentation"><a href="{{ path('team.view', {id: team.id }) }}">{{ 'team.view'|trans }}</a></li>
        <li role="presentation"><a href="{{ path('team.stat', {id: team.id }) }}">{{ 'common.stat'|trans }}</a></li>
        <li role="presentation"><a href="{{ path('team.photo', {id: team.id }) }}">{{ 'photo'|trans }}</a></li>
        <li role="presentation"><a href="{{ path('team.video', {id: team.id }) }}">{{ 'video'|trans }}</a></li>
        <li role="presentation" class="active"><a href="{{ path('team.transfers', {id: team.id }) }}">{{ 'transfers'|trans }}</a></li>
    </ul>

    <ul class="nav nav-pills">
        <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                2015/2016 <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#">2014/2015</a></li>
                <li><a href="#">2013/2014</a></li>
                <li><a href="#">2012/2013</a></li>
                <li><a href="#">2011/2012</a></li>
            </ul>
        </li>
        <li role="presentation"><a href="{{ path('team.transfers', {id: team.id }) }}">{{ 'transfersAll'|trans }}</a></li>
        <li role="presentation"><a href="{{ path('transfers.in', {id: team.id }) }}">{{ 'transfersIn'|trans }}</a></li>
        <li role="presentation" class="active"><a href="{{ path('transfers.out', {id: team.id }) }}">{{ 'transfersOut'|trans }}</a></li>
    </ul>

    <table class="table table-condensed">
        <thead>
        <tr>
            <th>{{ 'player.name'|trans }}</th>
            <th>{{ 'date'|trans }}</th>
            <th>{{ 'team.name'|trans }}</th>
            <th>{{ 'sum'|trans }}</th>
            <th>{{ 'term'|trans }}</th>
        </tr>
        </thead>
        <tr>
            <td>{{ transfer.membership.player.name }}</td>
            <td>{{ transfer.date.date|date("d.m.Y") }}</td>
            <td><a href="{{ path('team.news', {id: team.id }) }}">{{ team.name }}</a> <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> <a href="{{ path('team.news', {id: transfer.membership.team.id }) }}">{{ transfer.membership.team.name }}</a></td>
            <td><span class="glyphicon glyphicon-arrow-down" aria-hidden="true" style="color:red"></span> {{ 'euro'|trans }} {{ transfer.sum }} {{ 'million'|trans }}</td>
            <td>{{ transfer.term }}</td>
        </tr>
    </table>

{% endblock %}
