{% extends 'layout.html.twig' %}

{% block content %}

    <h3>{{ team.name }}</h3>
    <h5><b>{{ 'common.country'|trans }}</b> : {{ team.country.name }}</h5>
    <h5><b>{{ 'common.coach'|trans }}</b> : <a href="{{ path('coach.news', {id: team.coach.id}) }}">{{ team.coach.name }}</a></h5>

    <ul class="nav nav-tabs">
        <li role="presentation"><a href="{{ path('team.news', {id: team.id }) }}">{{ 'common.newsline'|trans }}</a></li>
        <li role="presentation" class="active"><a href="{{ path('team.calendar', {id: team.id }) }}">{{ 'common.calendar'|trans }}</a></li>
        <li role="presentation"><a href="{{ path('team.view', {id: team.id }) }}">{{ 'team.view'|trans }}</a></li>
        <li role="presentation"><a href="{{ path('team.stat', {id: team.id }) }}">{{ 'common.stat'|trans }}</a></li>
        <li role="presentation"><a href="{{ path('team.photo', {id: team.id }) }}">{{ 'common.photo'|trans }}</a></li>
        <li role="presentation"><a href="{{ path('team.video', {id: team.id }) }}">{{ 'video'|trans }}</a></li>
        <li role="presentation"><a href="{{ path('team.transfers', {id: team.id }) }}">{{ 'transfers'|trans }}</a></li>
    </ul>

    <table class="table table-condensed">
        <thead>
        <tr>
            <th>{{ 'date'|trans }}</th>
            <th>{{ 'common.tournament'|trans }}</th>
            <th>Соперник</th>
            <th>Счет</th>
        </tr>
        </thead>
            <tr>
                <td>
                    {% if team.match is not null %}
                        {{ team.match.date|date("d.m.Y | H:i") }}
                    {%  else  %}
                        <b>{{ 'No date'|trans }}</b>
                    {% endif %}
                </td>
                <td><a href="{{ path('tournament.news', {id: team.tournament.id}) }}">{{ team.tournament.name }}</a></td>
                <td></td>
                <td></td>
            </tr>
    </table>
{% endblock %}
