{% extends 'base.html.twig' %}

{% block body %}

    <table class="table table-condensed">
        <thead>
        <tr>
            <th>{{ 'team.country'|trans }}</th>
            <th>{{ 'team.tournament'|trans }}</th>
            <th>{{ 'team.name'|trans }}</th>
            <th>{{ 'team.coach'|trans }}</th>
            <th>{{ 'player.list'|trans }}</th>
            <td></td>
        </tr>
        </thead>
        {% for team in teams %}
            <tr>
                <td>{{ team.country.name }}</td>
                <td>{{ team.tournament.name }}</td>
                <td><a href="{{ path('team.news', {id: team.id}) }}">{{ team.name }}</a></td>
                <td>{{ team.coach.name }}</td>
                <td>
                    <ul class="nav nav-list">
                        {% for player in team.players %}
                            <li><a href="{{ path('player.view', {id: player.id}) }}">{{ player.name }}</a></li>
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <a class="btn btn-success btn-xs" href="{{ path('team.edit', {'id': team.id  }) }}"
                       role="button">{{ 'common.edit'|trans }}</a>
                    <a class="btn btn-danger btn-xs" href="{{ path('team.delete',{'id': team.id}) }}"
                       role="button">{{ 'common.delete'|trans }}</a>
                </td>
            </tr>
        {% endfor %}
    </table>

    <a class="btn btn-default" href="{{ path('team.add') }}" role="button">{{ 'common.add'|trans }}</a>
{% endblock %}

