{% extends 'base.html.twig' %}

{% block body %}
    <h1>Футбольные клубы</h1>

    <table class="table table-condensed">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Country</th>
            <td></td>
        </tr>
        </thead>
        {% for team in teams %}
            <tr>
                <td>{{ team.id }}</td>
                <td>{{ team.name }}</td>
                <td>{{ team.country }}</td>
                <td>
                    <a class="btn btn-success btn-xs"
                       href="{{ path('team.edit', {'id': team.id  }) }}" role="button">Изменить</a>&nbsp;<a
                            class="btn btn-danger btn-xs" href="{{ path('team.delete',{'id': team.id}) }}"
                            role="button">Удалить</a>
                </td>
            </tr>
        {% endfor %}
    </table>

    <a class="btn btn-default" href="{{ path('team.add') }}" role="button">Добавить</a>
{% endblock %}

