{% extends 'layout.html.twig' %}

{% block content %}

    <table class="table table-condensed">
        <thead>
        <tr>
            <th>{{ 'common.country'|trans }}</th>
            <th>{{ 'common.tournament'|trans }}</th>
            <th>{{ 'team.name'|trans }}</th>
            <th>{{ 'common.coach'|trans }}</th>
            <th>{{ 'common.manager'|trans }}</th>
            <th>{{ 'player.list'|trans }}</th>
            <td></td>
        </tr>
        </thead>
        {% for team in teams %}
            <tr>
                <td>
                    <span class="flag flag-{{ team.country.code|lower }}"></span>
                    {{ team.country.name }}
                </td>
                <td><a href="{{ path('tournament.news', {id: team.tournament.id}) }}">{{ team.tournament.name }}</a></td>
                <td><a href="{{ path('team.news', {id: team.id}) }}">{{ team.name }}</a></td>
                <td>
                    <span class="flag flag-{{ team.coach.country.code|lower }}"></span>
                    <a href="{{ path('coach.news', {id: team.coach.id}) }}">{{ team.coach.name }}</a>
                </td>
                <td>
                    <span class="flag flag-{{ team.manager.country.code|lower }}"></span>
                    <a href="{{ path('manager.news', {id: team.manager.id}) }}">{{ team.manager.name }}</a>
                </td>
                <td>
                    <ul class="nav nav-list">
                        {% for player in team.players %}
                            <li><a href="{{ path('player.view', {id: player.id}) }}">{{ player.name }}</a></li>
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <a class="btn btn-success btn-xs" href="{{ path('team.edit', {'id': team.id  }) }}"
                       role="button">{{ 'common.edit'|trans }}</a>
                    <a class="btn btn-danger btn-xs" href="{{ path('team.delete',{'id': team.id}) }}"
                       role="button">{{ 'common.delete'|trans }}</a>
                </td>
            </tr>
        {% endfor %}
    </table>

    <a class="btn btn-default" href="{{ path('team.add') }}" role="button">{{ 'common.add'|trans }}</a>
{% endblock %}

