{% extends 'base.html.twig' %}

{% block body %}

    <table class="table table-condensed">
        <thead>
        <tr>
            <th>{{ 'team.name'|trans }}</th>
            <th>{{ 'championship.name'|trans }}</th>
            <td></td>
        </tr>
        </thead>
        {% for team in teams %}
            <tr>
                <td>{{ team.name }}</td>
                <td>{{ team.championship.country }}</td>
                <td>
                    <a class="btn btn-success btn-xs"
                       href="{{ path('team.edit', {'id': team.id  }) }}" role="button">{{ 'common.edit'|trans }}</a>&nbsp;<a
                            class="btn btn-danger btn-xs" href="{{ path('team.delete',{'id': team.id}) }}"
                            role="button">{{ 'common.delete'|trans }}</a>
                </td>
            </tr>
        {% endfor %}
    </table>

    <a class="btn btn-default" href="{{ path('team.add') }}" role="button">{{ 'common.add'|trans }}</a>
{% endblock %}

