{% extends 'layout.html.twig' %}

{% block content %}

    <h3>{{ team.name }}</h3>
    <h5><b>{{ 'common.country'|trans }}</b> : {{ team.country.name }}</h5>
    <h5><b>{{ 'common.coach'|trans }}</b> : <a href="{{ path('coach.news', {id: team.coach.id}) }}">{{ team.coach.name }}</a></h5>

    <ul class="nav nav-tabs">
        <li role="presentation"><a href="{{ path('team.news', {id: team.id }) }}">{{ 'common.newsline'|trans }}</a></li>
        <li role="presentation"><a href="{{ path('team.calendar', {id: team.id }) }}">{{ 'common.calendar'|trans }}</a></li>
        <li role="presentation"><a href="{{ path('team.view', {id: team.id }) }}">{{ 'team.view'|trans }}</a></li>
        <li role="presentation" class="active"><a href="{{ path('team.stat', {id: team.id }) }}">{{ 'common.stat'|trans }}</a></li>
        <li role="presentation"><a href="{{ path('team.photo', {id: team.id }) }}">{{ 'common.photo'|trans }}</a></li>
        <li role="presentation"><a href="{{ path('team.video', {id: team.id }) }}">{{ 'common.video'|trans }}</a></li>
        <li role="presentation"><a href="{{ path('team.transfers', {id: team.id }) }}">{{ 'transfers.list'|trans }}</a></li>
    </ul>

    <table class="table table-condensed">
        <thead>
        <tr>
            <th>{{ 'player.number'|trans }}</th>
            <th>{{ 'player.name'|trans }}</th>
            <th>{{ 'goals'|trans }}</th>
            <th>{{ 'passes'|trans }}</th>
            <th>{{ 'goal.plus.pass'|trans }}</th>
            <th>{{ 'yellowcards'|trans }}</th>
            <th>{{ 'redcards'|trans }}</th>
        </tr>
        </thead>
        {% for player in team.players %}
            <tr>
                <td>{{ player.number }}</td>
                <td><a href="{{ path('player.view', {id: player.id}) }}">{{ player.name }}</a></td>
                <td>{{ player.goals|length }}</td>
                <td>{{ player.passes|length }}</td>
                <td>{{ player.goals|length + player.passes|length }}</td>
                <td>{{ player.yellowCards|length }}</td>
                <td>{{ player.redCards|length }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
