{% extends 'layout.html.twig' %}

{% block content %}

    <h3>{{ team.name }}</h3>
    <h5><b>{{ 'team.country'|trans }}</b> : {{ team.country.name }}</h5>
    <h5><b>{{ 'Coach'|trans }}</b> : <a href="{{ path('coach.news', {id: team.coach.id}) }}">{{ team.coach.name }}</a></h5>

    <ul class="nav nav-tabs">
        <li role="presentation"><a href="{{ path('team.news', {id: team.id }) }}">{{ 'newsline'|trans }}</a></li>
        <li role="presentation"><a href="{{ path('team.calendar', {id: team.id }) }}">{{ 'calendar'|trans }}</a></li>
        <li role="presentation"><a href="{{ path('team.view', {id: team.id }) }}">{{ 'team.view'|trans }}</a></li>
        <li role="presentation"><a href="{{ path('team.stat', {id: team.id }) }}">{{ 'stat'|trans }}</a></li>
        <li role="presentation"><a href="{{ path('team.photo', {id: team.id }) }}">{{ 'photo'|trans }}</a></li>
        <li role="presentation" class="active"><a href="{{ path('team.video', {id: team.id }) }}">{{ 'video'|trans }}</a></li>
        <li role="presentation"><a href="{{ path('team.transfers', {id: team.id }) }}">{{ 'transfers'|trans }}</a></li>
    </ul>

{% endblock %}
