{% extends 'base.html.twig' %}

{% block body %}

    <h3>{{ player.name }}</h3>
    <h5><b>{{ 'player.birth'|trans }}</b> : {{ player.birth|date("d.m.Y") }} | {{ 'player.age'|transchoice(player.age(today)) }}</h5>
    <h5><b>{{ 'player.nation'|trans }}</b> : {{ player.nation }}</h5>
    <h5><b>{{ 'player.team'|trans }}</b> | <b>{{ 'player.role'|trans }}</b> : {% if player.team is not null %} <a href="{{ path('team.news', {id: player.team.id }) }}">{{ player.team.name }}</a> {%  else  %} <b>{{ 'No team'|trans }}</b> {% endif %} | {{ player.role.name }}</h5>
    <h5><b>{{ 'player.height'|trans }}</b> | <b>{{ 'player.weight'|trans }}</b> : {{ player.height }} | {{ player.weight }}</h5>

    <ul class="nav nav-tabs">
        <li role="presentation"><a href="{{ path('player.view', {id: player.id}) }}">{{ 'newsline'|trans }}</a></li>
        <li role="presentation" class="active"><a href="{{ path('player.career', {id: player.id}) }}">{{ 'player.career'|trans }}</a></li>
        <li role="presentation"><a href="{{ path('player.stat', {id: player.id}) }}">{{ 'stat'|trans }}</a></li>
    </ul>

    <table class="table table-condensed">
        <thead>
        <tr>
            <th>{{ 'season'|trans }}</th>
            <th>{{ 'player.team'|trans }}</th>
            <th>{{ 'team.tournament'|trans }}</th>
            <th>{{ 'goals'|trans }}</th>
            <th>{{ 'passes'|trans }}</th>
            <th>{{ 'goal.plus.pass'|trans }}</th>
            <th>{{ 'yellowcards'|trans }}</th>
            <th>{{ 'redcards'|trans }}</th>
        </tr>
        </thead>
        <tr>
            <td>{{ player.season.startYear }}/{{ player.season.endYear }}</td>
            <td>
                {% if player.team is not null %}
                    <a href="{{ path('team.news', {id: player.team.id }) }}">{{ player.team.name }}</a>
                {%  else  %}
                    <b>{{ 'No team'|trans }}</b>
                {% endif %}
            </td>
            <td>
                {% if player.team is not null %}
                    <a href="{{ path('tournament.news', {id: player.team.tournament.id}) }}">{{ player.team.tournament.name }}</a>
                {%  else  %}
                    <b>{{ 'No tournament'|trans }}</b>
                {% endif %}
            </td>
            <td>{{ player.goals|length }}</td>
            <td>{{ player.passes|length }}</td>
            <td>{{ player.goals|length + player.passes|length }}</td>
            <td>{{ player.yellowCards|length }}</td>
            <td>{{ player.redCards|length }}</td>
        </tr>
    </table>

{% endblock %}
