{% extends 'base.html.twig' %}

{% block body %}

    <table class="table table-condensed">
        <thead>
        <tr>
            <th>{{ 'player.number'|trans }}</th>
            <th>{{ 'player.name'|trans }}</th>
            <th>{{ 'player.team'|trans }}</th>
            <th>{{ 'player.role'|trans }}</th>
            <td></td>
        </tr>
        </thead>
        {% for player in players %}
            <tr>
                <td>{{ player.number }}</td>
                <td>{{ player.name }}</td>
                <td>{{ player.team.name }}</td>
                <td>{{ player.role.roles }}</td>
                <td>
                    <a class="btn btn-success btn-xs"
                          href="{{ path('player.edit', {'id': player.id  }) }}" role="button">{{ 'common.edit'|trans }}</a>&nbsp;<a
                                class="btn btn-danger btn-xs" href="{{ path('player.delete',{'id': player.id}) }}"
                                role="button">{{ 'common.delete'|trans }}</a>
                </td>
            </tr>
        {% endfor %}
    </table>


    <a class="btn btn-default" href="{{ path('player.add') }}" role="button">{{ 'common.add'|trans }}</a>
{% endblock %}

