{% extends 'base.html.twig' %}

{% block body %}

    <table class="table table-condensed">
        <thead>
        <tr>
            <th>{{ 'player.number'|trans }}</th>
            <th>{{ 'player.name'|trans }}</th>
            <th>{{ 'player.birth'|trans }}</th>
            <th>{{ 'player.height'|trans }}</th>
            <th>{{ 'player.weight'|trans }}</th>
            <th>{{ 'player.nation'|trans }}</th>
            <th>{{ 'season'|trans }}</th>
            <th>{{ 'player.team'|trans }}</th>
            <th>{{ 'player.role'|trans }}</th>
            <th>{{ 'matches'|trans }}</th>
            <th>{{ 'goals'|trans }}</th>
            <th>{{ 'passes'|trans }}</th>
            <th>{{ 'yellowcards'|trans }}</th>
            <th>{{ 'redcards'|trans }}</th>
            <td></td>
        </tr>
        </thead>
        {% for player in pagination %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td>{{ player.number }}</td>
                <td><a href="{{ path('player.view', {id: player.id}) }}">{{ player.name }}</a></td>
                <td>{{ player.birth|date("d.m.Y") }} | {{ 'player.age'|transchoice(player.age(today)) }}</td>
                <td>{{ player.height }}</td>
                <td>{{ player.weight }}</td>
                <td>{{ player.nation }}</td>
                <td>{{ player.season.startYear }}/{{ player.season.endYear }}</td>
                <td><a href="{{ path('team.news', {id: player.team.id }) }}">{{ player.team.name }}</a></td>
                <td>{{ player.role.name }}</td>
                <td>{{ player.match }}</td>
                <td>{{ player.goals|length }}</td>
                <td>{{ player.passes|length }}</td>
                <td>{{ player.yellowCards|length }}</td>
                <td>{{ player.redCards|length }}</td>
                <td>
                    <a class="btn btn-success btn-xs"
                       href="{{ path('player.edit', {'id': player.id  }) }}" role="button">{{ 'common.edit'|trans }}</a>&nbsp;<a
                            class="btn btn-danger btn-xs" href="{{ path('player.delete',{'id': player.id}) }}"
                            role="button">{{ 'common.delete'|trans }}</a>
                </td>
            </tr>
        {% endfor %}
    </table>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>


    <a class="btn btn-default" href="{{ path('player.add') }}" role="button">{{ 'common.add'|trans }}</a>
{% endblock %}

