{% extends 'base.html.twig' %}

{% block body %}

    <h3>{{ player.name }}</h3>
    <h5><b>{{ 'player.birth'|trans }}</b> : {{ player.birth|date("d.m.Y") }} | {{ 'player.age'|transchoice(player.age(today)) }}</h5>
    <h5><b>{{ 'player.nation'|trans }}</b> : {{ player.nation }}</h5>
    <h5><b>{{ 'player.team'|trans }}</b> | <b>{{ 'player.role'|trans }}</b> : <a href="{{ path('team.news', {id: player.team.id }) }}">{{ player.team.name }}</a> | {{ player.role.name }}</h5>
    <h5><b>{{ 'player.height'|trans }}</b> | <b>{{ 'player.weight'|trans }}</b> : {{ player.height }} | {{ player.weight }}</h5>

    <ul class="nav nav-tabs">
        <li role="presentation"><a href="{{ path('player.view', {id: player.id}) }}">{{ 'newsline'|trans }}</a></li>
        <li role="presentation"><a href="{{ path('player.career', {id: player.id}) }}">{{ 'player.career'|trans }}</a></li>
        <li role="presentation" class="active"><a href="{{ path('player.stat', {id: player.id}) }}">{{ 'player.stat'|trans }}</a></li>
    </ul>

    <table class="table table-condensed">
        <thead>
        <tr>
            <th>{{ 'date'|trans }}</th>
            <th>{{ 'team.tournament'|trans }}</th>
            <th>{{ 'player.match'|trans }}</th>
            <th>{{ 'player.goal'|trans }}</th>
            <th>{{ 'player.pass'|trans }}</th>
            <th>{{ 'goal.plus.pass'|trans }}</th>
            <th>{{ 'player.yellowcard'|trans }}</th>
            <th>{{ 'player.redcard'|trans }}</th>
        </tr>
        </thead>
        <tr>
            <td>{{ player.team.match.date|date("d.m.Y | H:i") }}</td>
            <td>{{ player.team.tournament.name }}</td>
            <td>{{ player.match }}</td>
            <td>{{ player.goal }}</td>
            <td>{{ player.pass }}</td>
            <td>{{ player.goal + player.pass }}</td>
            <td>{{ player.yellowcard }}</td>
            <td>{{ player.redcard }}</td>
        </tr>
    </table>

{% endblock %}
