{% extends 'layout.html.twig' %}

{% block content %}

    <h3>{{ player.name }}</h3>
    <h5><b>{{ 'common.birth'|trans }}</b> : {{ player.birth|date("d.m.Y") }} | {{ 'common.age'|transchoice(player.age(today)) }}</h5>
    <h5><b>{{ 'common.country'|trans }}</b> : <span class="flag flag-{{ player.country.code|lower }}"></span>
        {{ player.country.name }}</h5>
    <h5><b>{{ 'team.name'|trans }}</b> | <b>{{ 'player.role'|trans }}</b> : {% if player.team is not null %} <a href="{{ path('team.news', {id: player.team.id }) }}">{{ player.team.name }}</a> {%  else  %} <b>{{ 'team.empty'|trans }}</b> {% endif %} | {{ player.role.name }}</h5>
    <h5><b>{{ 'player.height'|trans }}</b> | <b>{{ 'player.weight'|trans }}</b> : {{ player.height }} | {{ player.weight }}</h5>

    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="{{ path('player.view', {id: player.id}) }}">{{ 'common.newsline'|trans }}</a></li>
        <li role="presentation"><a href="{{ path('player.career', {id: player.id}) }}">{{ 'common.career'|trans }}</a></li>
        <li role="presentation"><a href="{{ path('player.stat', {id: player.id}) }}">{{ 'common.stat'|trans }}</a></li>
        <li role="presentation"><a href="{{ path('player.photo', {id: player.id}) }}">{{ 'common.photo'|trans }}</a></li>
        <li role="presentation"><a href="{{ path('player.video', {id: player.id}) }}">{{ 'common.video'|trans }}</a></li>
    </ul>

{% endblock %}
