{% extends 'base.html.twig' %}

{% block body %}

    <h3>{{ player.name }}</h3>
    <h5><b>{{ 'player.birth'|trans }}</b> : {{ player.birth|date("d.m.Y") }} | {{ 'player.age'|transchoice(player.age(today)) }}</h5>
    <h5><b>{{ 'player.nation'|trans }}</b> : {{ player.nation }}</h5>
    <h5><b>{{ 'player.team'|trans }}</b> | <b>{{ 'player.role'|trans }}</b> : {% if player.team is not null %} <a href="{{ path('team.news', {id: player.team.id }) }}">{{ player.team.name }}</a> {%  else  %} <b>{{ 'No team'|trans }}</b> {% endif %} | {{ player.role.name }}</h5>
    <h5><b>{{ 'player.height'|trans }}</b> | <b>{{ 'player.weight'|trans }}</b> : {{ player.height }} | {{ player.weight }}</h5>

    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="{{ path('player.view', {id: player.id}) }}">{{ 'newsline'|trans }}</a></li>
        <li role="presentation"><a href="{{ path('player.career', {id: player.id}) }}">{{ 'player.career'|trans }}</a></li>
        <li role="presentation"><a href="{{ path('player.stat', {id: player.id}) }}">{{ 'stat'|trans }}</a></li>
        <li role="presentation"><a href="{{ path('player.photo', {id: player.id}) }}">{{ 'photo'|trans }}</a></li>
    </ul>

{% endblock %}
