{% extends 'base.html.twig' %}

{% block body %}

    <table class="table table-condensed">
        <thead>
            <tr>
                <th>{{ 'date'|trans }}</th>
                <th>{{ 'goals'|trans }}</th>
                <th>{{ 'passes'|trans }}</th>
                <th>{{ 'yellowcards'|trans }}</th>
                <th>{{ 'redcards'|trans }}</th>
                <td></td>
            </tr>
        </thead>
        {% for match in matches %}
            <tr>
                <td>{{ match.date|date("d.m.Y | H:i") }}</td>
                <td>{{ match.goals|length }}</td>
                <td>{{ match.passes|length }}</td>
                <td>{{ match.yellowCards|length }}</td>
                <td>{{ match.redCards|length }}</td>
                <td>
                    <a class="btn btn-danger btn-xs" href="{{ path('match.delete',{'id': match.id}) }}"
                            role="button">{{ 'common.delete'|trans }}</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <a class="btn btn-default" href="{{ path('match.add') }}" role="button">{{ 'common.add'|trans }}</a>
{% endblock %}
